*{
    padding: 0;
    margin: 0;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    min-height: 100vh;
    /* width: 100%; */
    padding: 1rem;

}


section:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section:nth-child(1) p{
    color: rgb(93, 93, 93);
}

section:nth-child(1) p span{
color: black;
}

.input input{
    padding: 1rem;
    /* width: 100%; */
    border: none;
    background: rgba(196, 196, 196, 0.323);
    border-radius: 5px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgb(93, 93,893); 
}

section:nth-child(2) table{
width: 100%;
line-height: 3rem;
border-collapse: collapse;

}

section:nth-child(2) table tr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hr{
    border-bottom: solid 1px;
}

section:nth-child(2) table .input{
    padding: 0.5rem;
}

.large{
    width: 30rem;
}

.medium{
    width: 19rem;
}

.button{
    width: 10rem;
    margin-top: 1rem;
}

@media (max-width:1024px){
main{
    grid-template-columns: 1fr;
}
}